%table.tickets
  %thead
    %tr
      %th #
      %th Title
      %th
  %tbody
  %tfoot
    %tr
      %td{ colspan: 3 }
        %span.icon-edit
        %input#new{ type: "text", placeholder: "Add a new ticket" }