.modal-header
  %button.close{ type: 'button', 'data-dismiss' => 'modal', 'aria-hidden' => 'true' } &times;
  %h3 Add new ticket
  .modal-body
    %input{ type: "text", name: "ticket_name" } 
  .modal-footer
    %a.btn Cancel
    %input.btn.btn-small.btn-success{ type: "submit", value: "Create ticket" }