#workspace
  > .tickets

    table.tickets
      border-top: 1px solid #EFEFEF
      width: 100%

      tr
        border-bottom: 1px solid #EFEFEF
        th, td
          padding: 7px
        th:first-child, td:first-child
          padding-left: 20px


      > thead
        background-color: #F3F3F3
        th
          font-size: 0.9em
          text-align: left
      > tbody
        td
          font-size: 0.9em