!!!
%html
  %head
    %title Newgulpd
    = stylesheet_link_tag    "application", :media => "all" 
    = javascript_include_tag "application" 
    = csrf_meta_tags 

  %body  
    = yield 


:coffeescript

  $ -> 

    app = new App.Projects
    Backbone.history.start()