!!!
%html
  %head
    %title Newgulpd
    = stylesheet_link_tag    "application", 'http://fonts.googleapis.com/css?family=Droid+Sans:400,700', media: "all" 
    = javascript_include_tag "application" 
    = csrf_meta_tags 

  %body  
    = yield 


:coffeescript

  $ -> 

    container = new App.Views.Container
    container.render()

    # TODO: who/ should decide where views are attached to


    tickets = new App.Collections.Tickets

    view = new App.Views.Actions.Tickets.New collection: tickets
    container.addControl view

    view = new App.Views.Projects
    container.addControl view

    view = new App.Views.Tickets.List collection: tickets
    container.replaceWorkspace view

    new App.Projects container: container
    # new App.Tickets container: container
    Backbone.history.start()

    # move actions to App.Tickets, including listing all tickets
    # call #/tickets after adding a new ticket, so all tickets show and we see what we just added